body {
  margin: 0;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

/* Logo shape */
.logo-icon {
  width: 50px;
  height: 50px;
  background-color: #fff;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%,
      79% 91%, 50% 70%, 21% 91%, 32% 57%,
      2% 35%, 39% 35%);
}

/* OTP input styling */
.otp-input {
  width: 48px;
  height: 48px;
  font-size: 18px;
  border-radius: 6px;
  border: 1px solid #ccc;
  text-align: center;
}

.otp-input:focus {
  border-color: #00a8cc;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 168, 204, 0.4);
}

/* Button hover */
.btn-info:hover {
  background-color: #0094b0 !important;
}



/* Navbar customization */
.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.navbar .nav-link {
  color: #333 !important;
  transition: color 0.2s ease;
}

.navbar .nav-link:hover {
  color: #00a8cc !important;
}

.navbar-brand {
  font-size: 18px;
}

.btn-outline-danger:hover {
  background-color: #dc3545 !important;
  color: #fff !important;
}


/* Footer Styles */

.layout-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* main expands to fill space above footer */
.layout-page main {
  flex: 1;
}

.footer {
  border-top: 1px solid #e0e0e0;
  background-color: #ffffff;
  text-align: center;
  padding: 12px 0;
  color: #6c757d;
  font-size: 14px;
  letter-spacing: 0.3px;
  margin-top: auto;
}

.footer p {
  margin: 0;
  color: #6c757d;
  font-size: 14px;
  letter-spacing: 0.3px;
}

.footer.shadow-sm {
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.05);
}


/* Add Issuer css */

body {
  background-image: linear-gradient(45deg, rgb(248, 199, 207), rgb(148, 222, 222));
}

.form-container {
  max-width: 700px;
  margin: 18px auto;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  padding: 30px 40px;
}

.form-title {
  font-weight: 700;
  color: #0dcaf0;
  margin-bottom: 25px;
}

.btn-cancel {
  border-color: #6c757d;
  color: #6c757d;
}

.btn-cancel:hover {
  background-color: #6c757d;
  color: white;
}

@media (max-width: 767px) {
  .form-container {
    padding: 25px;
  }
}


/* Issuer list style */

.table-container {
  margin: 30px auto;
  max-width: 95%;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  padding: 25px;
}

.table th {
  background-color: #0dcaf0;
  color: white;
}

.action-icons i {
  cursor: pointer;
  margin: 0 6px;
}

.action-icons i:hover {
  color: #0dcaf0;
}